body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh; /* Ocupa toda la pantalla */
    overflow: hidden;
}

.contenedor {
    position: relative;
    width: 100%;
    height: 100vh;
}

.fondo {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para cubrir toda la pantalla */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.boton, button {
    position: absolute;
    top: 20px; /* Lo mantiene arriba */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    z-index: 1; /* Asegura que esté encima de la imagen */
}

.categorias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    max-width: 600px;
    margin: 0 auto;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    width: 80%;
}

.search-container input {
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-container i {
    margin-right: -30px;
    color: gray;
}

model-viewer {
    width: 100%;
    height: 500px;
}

/* ----- Estilos del encabezado en modelo.html ----- */
.header {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white; /* Color blanco para el encabezado */
    font-size: 2em; /* Ajusta el tamaño del texto */
    font-family: Arial, sans-serif;
}

/* ----- Estilos para el contenedor de los modelos ----- */
#modelos-container {
    width: 100%;
    height: 80vh; /* Ajusta el tamaño del área donde se cargará el modelo */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----- Modelo 3D (Model Viewer) ----- */
model-viewer {
    width: 80%; /* Ajusta el tamaño del modelo */
    height: 80%; /* Ajusta el tamaño del modelo */
    margin-top: 20px;
}


