body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

/* ----- Fondo verde en index.html ----- */
.index-body {
    background-color: #102F15;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

/* Estilos del botón en index.html */
.boton {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 2em;
    font-family: Arial, sans-serif;
}

.boton img {
    width: 150px;
    height: auto;
    transition: transform 0.3s;
}

.boton img:hover {
    transform: scale(1.1);
}

/* Fondo de la página */
.fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Asegura que el fondo esté detrás del contenido */
}
